{% extends 'base.html' %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}">
{% endblock %}

{% block branding %}
    <h1 id="site-name" class="text-xl font-bold text-text-primary dark:text-text-primary-dark"><a href="{% url 'admin:index' %}">Event Management Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}
<div id="content-related" class="module bg-surface dark:bg-surface-dark shadow-md p-4 rounded-lg mb-4">
    <div class="module-body">
        {% block object-tools %}{% endblock %}
    </div>
</div>
<div id="content" class="colM bg-surface dark:bg-surface-dark shadow-md p-4 rounded-lg">
    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}<h1 class="text-2xl font-bold mb-4 text-text-primary dark:text-text-primary-dark">{{ title }}</h1>{% endif %}{% endblock %}
    {% block content_subtitle %}{% if subtitle %}<h2 class="text-xl font-bold mb-4 text-text-primary dark:text-text-primary-dark">{{ subtitle }}</h2>{% endif %}{% endblock %}
    {% block content_main %}
        <div class="module-body">
            {% block content_body %}{% endblock %}
        </div>
    {% endblock %}
</div>
{% endblock %}